.impactSection {
  width: 100%;
  position: relative;
  contain-intrinsic-height: 455px;
  content-visibility: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  border: 1px solid var(--ds-gray-300);
}

.stack {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.singleRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  padding: 0 20px;
}

.impact {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titleRow {
  display: flex;
  align-items: center;
}

.title {
    font-weight: 600;
    color: var(--ds-gray-1000);
    font-size: 2rem;
    margin: 0;
    display: inline;
}

.actionButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 48px;
  font-size: 14px;
  font-weight: 500;
  background: transparent;
  color: var(--geist-foreground);
  border: 1px solid var(--accents-2);
  transition: all 0.2s ease;
  gap: 8px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ds-gray-1000);
}

@media (max-width: 1024px) {
  .singleRow {
    flex-direction: column;
    text-align: center;
    gap: 24px;
  }

  .title {
    font-size: 36px;
  }
}
